.result {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.finalscore{
  font-size: 1.5em;
  font-weight: bold;
  margin: 40px 0 60px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.leaderboardTitle{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.leaderboard {
  display : flex;
  flex-direction: column;
  width: 20%;
  background: #d2e8f3;
  border-radius: 10px;
  padding: 1em 2em;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.leaderboard ol li:nth-child(1) {
  background: #0d4e6d;
  color: white;

}
.leaderboard ol li:nth-child(2) {
  background: #085e84;
  color: whitesmoke;
}
.leaderboard ol li:nth-child(3) {
  background: #046fa0;
  color: #efefef;
}
.leaderboard ol li:nth-child(4) {
  background: #048ac5;
}
.leaderboard ol li:nth-child(5) {
  background: #10ace7;
}
.leaderboard ol li:nth-child(6) {
  background: #30c9f2;
}
.leaderboard ol li:nth-child(7) {
  background: #4cc9f7;
}
.leaderboard ol li:nth-child(8) {
  background: #7ed8fb;
}
.leaderboard ol li:nth-child(9) {
  background: #bbe8fc;
}
.leaderboard ol li:nth-child(10) {
  background: #e0f3fe;
}

.leaderboard ol li{
  padding: 10px;
}

.leaderboard ol li:hover {
  transform: scale(1.1);
  box-shadow:  #05a2a2 -6px 0px 7px;
}
.Buttons {
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 30%;
}
