* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.App {
  min-height: 98.5vh;
  padding: 5px;
  background-size: cover;
  background-color: #99cbb0;
}
