* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.App {
  background-size: cover;
  background-color: #8cccff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
